POSTGRES_DB=university
POSTGRES_USER=student
POSTGRES_PASSWORD=course-local-password
POSTGRES_PORT=5432
POSTGRES_BIND_ADDRESS=127.0.0.1
PGADMIN_DEFAULT_EMAIL=student@course.local
PGADMIN_DEFAULT_PASSWORD=course-pgadmin-password
PGADMIN_PORT=5050
PGADMIN_BIND_ADDRESS=127.0.0.1
